language: c
before_script:
  - mkdir build
  - cd build
  - cmake ..

matrix:
  include:
    - os: windows
      install:
        - choco install doxygen.install
      script:
        - export PATH="c:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\MSBuild\15.0\Bin":$PATH
        - MSBuild.exe p2p.sln
    - os: linux
      script:
        - make
      dist: ubuntu
      sudo: required